@use 'index' as styles;
@use '@angular/material' as mat;

.container {
    padding: 0 8% 0;
    display: flex;
    position: relative;

    .carousel {
        @include mat.tabs-overrides((
            active-indicator-height: 7px,
            active-indicator-shape: 30px
        ));
        width: 50%;

        .event-photo {
            height: 500px;
            width: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
                object-position: 0 10px;
            }
        }
    }

    .recap {
        width: 50%;

        .title {
            text-align: center;
            font-size: 38px;
            letter-spacing: 2px;
            font-weight: 600;
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: rgba(22, 22, 22, 0.911);
            text-transform: uppercase;
        }

        .description {
            @include mat.tabs-overrides((
                active-indicator-height: 0px,
                divider-height: 0px,
                pagination-icon-color: white
            ));

            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: large;
            letter-spacing: 1px;
            line-height: 40px;
            color: black;
            display: flex;

            .description-content {
                width: 80%;
                margin-left: 30px;
            }

            .supplier {
                margin-bottom: 10px;
                margin-right: 30px;
                text-align: right;
                cursor: pointer;
                color: styles.$dark-magenta-color;

                @include mat.button-overrides((
                    text-state-layer-color: none,
                    text-label-text-size: large,
                    text-label-text-transform: uppercase,
                    text-label-text-weight: 600,
                    text-label-text-tracking: 2px
                ));

                button:hover {
                    color: rgb(59, 0, 59);
                    text-decoration: underline;
                }
            }
        }
    }
}

@media (max-width: 870px) {
    .container {
        flex-direction: column;
        .carousel {
            width: 100%;
            order: 2;
        }

        .recap {
            width: 100%;
            order: 1;

            .description {
                
                .description-content {
                    margin-left: 0;
                }

                .supplier {
                    margin-right: 0;
                }
            }
        }
    }
}