<div class="container">
    <div class="row">
        <div class="first">
            <div class="socials">
                <div class="social-label">
                    SOCIALS
                </div>
                <div class="social-logo">
                    <a href="https://www.facebook.com/KasalangTagaytay" target="_blank">
                    <img src="assets/images/facebook.png" alt="">
                    </a>
                    <a href="/home" target="_blank">
                        <img src="assets/images/instagram.png" alt="">
                    </a>
                    <a href="https://x.com/ktagaytay" target="_blank">
                        <img src="assets/images/twitter.png" alt="">
                    </a>
                </div>
            </div>

            <div class="contacts">
                <div class="contacts-label">
                    CONTACTS
                </div>

                <div class="contacts-content">
                    <div class="content">
                        <img src="assets/images/email.png" alt="">
                        <p>kasalangtagaytay.sales@gmail.com</p>
                    </div>
                    <div class="content">
                        <img src="assets/images/phone.png" alt="">
                        <p>(0917) 546 0406 or (0917) 377 0398</p>
                    </div>
                    <div class="content">
                        <img src="assets/images/location.png" alt="">
                        <p>433 Langkaan 1, City of Dasmarinas, Cavite</p>
                    </div>
                </div>
            </div>

            <div class="copy-right">
                <img src="assets/images/kt-logo-square.png" alt="">
                © 2024. Kasalang Tagaytay Expo. All Rights Reserved
            </div>
        </div>
    </div>
</div>