@use 'index' as styles;
@use '@angular/material' as mat;

.container {
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10% 20%;
    display: flex;
    position: relative;

    .expo {
        margin: 90px auto 60px;
        width: 80%;
        
        .expo-card {
            background-color: rgba(100, 17, 100, 0.719);
            text-align: center;
            color: white;
            border-radius: 30px;

            @include mat.card-overrides((
                title-text-size: 38px,
                subtitle-text-size: 86px,
                title-text-line-height: 50px,
                subtitle-text-line-height: 100px,
                subtitle-text-color: white,
                title-text-font: "Forum",
                subtitle-text-font: "Forum"
            ));

            .header {
                margin-left: auto;
                margin-right: auto;
            }

            .card {
                margin-left: auto;
                margin-right: auto;
                padding: 50px 0 30px;
                width: auto;

                .content {
                    border-radius: 60px;
                    padding: 5px 50px 5px;
                    background-color: rgba(255, 255, 255, 0.986);
                    color: black;

                    .row {
                        width: 100%;
                        display: flex;
                        letter-spacing: 1px;
                        font-weight: 500;
                        justify-content: center;

                        .details {

                            p {
                                color: rgb(29, 29, 29);
                                font-size: 13px;
                                font-weight: 500;
                            }
                        }
                        
                        .divider {
                            width: 1px;
                            height: auto;
                            background-color: #b9b9b975;
                            margin: 0 50px 0;
                        }

                        .register {
                            margin-top: auto;
                            margin-bottom: auto;
                            font-size: 16px;
                            font-weight: 600;
                            letter-spacing: 1px;
                            color: styles.$dark-magenta-color;
                            cursor: pointer;

                            &:hover {
                                color: styles.$primary-color;
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 740px) {
    .container {
        .expo {
            .expo-card {
                @include mat.card-overrides((
                    title-text-size: 25px,
                    subtitle-text-size: 50px,
                    title-text-line-height: 40px,
                    subtitle-text-line-height: 60px,
                    subtitle-text-color: white,
                    title-text-font: "Forum",
                    subtitle-text-font: "Forum"
                ));

                .card {

                    .content {
                        border-radius: 35px;
                        padding: 5px 20px 5px;
                        .row {
                            display: flex;
                            flex-direction: column;
                            .details {

                                p {
                                    
                                }
                            }
                            
                            .divider {
                                width: 100%;
                                height: 1px;
                                background-color: #b9b9b98a;
                                margin: 10px auto 30px;
                            }

                            .register {
                                margin: 0 0 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}