<div class="container">
    <div class="row">
        <button
        matButton 
        class="register"
        (click)="openForm()">
            <mat-icon>library_add</mat-icon>
            {{ cmsData?.HeaderRegisterNowLabel }}
        </button>

        <div class="booking-look-up">
            <button matButton="outlined" (click)="navigateToMyReservation()">
                <mat-icon>search</mat-icon>
                {{ cmsData?.HeaderMyReservationLabel }}
            </button>
        </div>
    </div>
</div>
