<div class="container">
    <div class="row upper">
        <div class="logo" (click)="navigateHomePage()">
            <img src="assets/images/kt-logo-square.png" alt="">
        </div>

        <div class="account">
            <app-header-account-component [cmsData]="cmsData"></app-header-account-component>
        </div>
    </div>

    <div class="row lower">
        <div class="navigation">
            @if (cmsData) {
                <app-navigation-component 
                    [cmsData]="cmsData"
                    [countdownNotice]="countdownNotice">
                </app-navigation-component>
            }
        </div>

        <div class="countdown">
            Countdown Until Expo<br>{{ countdownNotice }}
        </div>
    </div>
    
    <app-loader-component *ngIf="isLoading"></app-loader-component>
</div>
