.container {

    .expo {
        margin-bottom: 60px;
    }

    .experience {
        margin-top: 60px;
    }

    .recap {
        margin-top: 120px;
    }
}

@media (max-width: 1220px) {
    .container {
        .recap {
            margin-top: 60px;
        }
    }
}